{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | پشتیبانی {% endblock title %}


{% block content %}





<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/banner/banner1.jpg' %});">
        <div class="container">
          <div class="page-banner-entry">
            <h1 class="text-white"> پشتیبانی و پرسش های متداول </h1>
          </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
      <div class="container">
        <ul class="list-inline">
          <li><a href="#"> آساد </a></li>
          <li> پشتیبانی </li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-block">
            <!-- Your Faq -->
            <div class="section-area section-sp1">
                <div class="container">
                  <div class="row" dir="rtl" align="right">
                    <div class="col-lg-8 col-md-12">
                      <div class="heading-bx left">
                        <h2 class="m-b10 title-head"> سؤالات پرسیده شده </h2>
                      </div>
                      <p class="m-b10"> لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد </p>
                      <div class="ttr-accordion m-b30 faq-bx" id="accordion1">
                        <div class="panel">
                          <div class="acod-head">
                            <h6 class="acod-title">
                              <a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
                              Why won't my payment go through? </a> </h6>
                          </div>
                          <div id="faq1" class="acod-body collapse">
                            <div class="acod-content">Web design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="acod-head">
                            <h6 class="acod-title">
                              <a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
                              How do I get a refund?</a> </h6>
                          </div>
                          <div id="faq2" class="acod-body collapse">
                            <div class="acod-content">Graphic design aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="acod-head">
                            <h6 class="acod-title">
                              <a data-toggle="collapse"  href="#faq3" class="collapsed"  data-parent="#faq3">
                              How do I redeem a coupon? </a> </h6>
                          </div>
                          <div id="faq3" class="acod-body collapse">
                            <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="acod-head">
                            <h6 class="acod-title">
                              <a data-toggle="collapse"  href="#faq4" class="collapsed"  data-parent="#faq4">
                              Why aren't my courses showing in my account? </a> </h6>
                          </div>
                          <div id="faq4" class="acod-body collapse">
                            <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                          </div>
                        </div>
                        <div class="panel">
                          <div class="acod-head">
                            <h6 class="acod-title">
                              <a data-toggle="collapse"  href="#faq5" class="collapsed"  data-parent="#faq5">
                              Changing account name </a> </h6>
                          </div>
                          <div id="faq5" class="acod-body collapse">
                            <div class="acod-content">Developement aorem apsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>
                          </div>
                        </div>
                      </div>
                      <p class="m-b10"> لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.لورم ایپسوم یا طرح‌نما به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد </p>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                          <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                              <a href="#" class="icon-cell"><img src="{% static 'images/icon/icon1.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                              <h5 class="ttr-tilte">Our Philosophy</h5>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                          <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                              <a href="#" class="icon-cell"><img src="{% static 'images/icon/icon2.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                              <h5 class="ttr-tilte">Kingster's Principle</h5>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                          <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                              <a href="#" class="icon-cell"><img src="{% static 'images/icon/icon3.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                              <h5 class="ttr-tilte">Key Of Success</h5>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 m-b30">
                          <div class="feature-container">
                            <div class="feature-md text-white m-b20">
                              <a href="#" class="icon-cell"><img src="{% static 'images/icon/icon4.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                              <h5 class="ttr-tilte">Our Philosophy</h5>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                      <form  method="post" action="" class="contact-bx dzForm">
                        {% csrf_token %}
                        <div class="dzFormMsg"></div>
                          <div class="heading-bx left">
                            <h2 class="title-head"> با ما در تماس باشید </h2>
                            <p> ما در کوتاه ترین زمان با شما تماس خواهیم گرفت. پشتیبانی ۲۴ ســاعته در ۷ روز هـفته </p>
                          </div>
                          <div class="row placeani">
                            <div class="col-lg-6 ">
                              <div class="form-group">
                                <div class="input-group">
                                  <label> نام </label>
                                  <input name="name" type="text" class="form-control" required>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <div class="input-group">
                                  <label> شماره تماس </label>
                                  <input name="phone" type="text" class="form-control" required >
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <div class="input-group">
                                  <label> موضوع </label>
                                  <input name="subject" type="text" class="form-control" required>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <div class="input-group">
                                  <label> متن پیام </label>
                                  <textarea name="message" rows="4" class="form-control" required ></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <button name="submit" type="submit" value="Submit" class="btn button-md"> ارسال پیام </button>
                               {{ success }}
                            </div>
                          </div>
                        </form>

                    </div>
                  </div>

               </div>
            </div>
            <!-- Your Faq End -->
    </div>
<!-- contact area END -->
</div>
<!-- Content END-->






{% endblock %}
