asgiref
captcha
coreschema
Django
django-admin-thumbnail
django-admin-thumbnails
django-ckeditor
django-filter
django-mptt
django-recaptcha
django-render-partial
idna
importlib-metadata
Pillow
pytz
requests
sqlparse
urllib3v
