{% load static %}
{% load render_partial %}




<!DOCTYPE html>
<html lang="en">

<head>




	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />

	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title> آساد  {% block title %}{% endblock %} </title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">

	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/navigation.css' %}">
	<!-- REVOLUTION SLIDER END -->
</head>




<body id="bg">


<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
    <header class="header rs-nav {% if request.path == '/' %} header-transparent {% endif %} ">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul>
							<li><a href="{% url 'support' %}"><i class="fa fa-question-circle"></i> پشتیبانی </a></li>
							<li>
								<a href="javascript:;" class="btn-link"><i class="fa fa-telegram"></i></a>
					  		<a href="javascript:;" class="btn-link"><i class="fa fa-instagram"></i></a>
						  	<a href="javascript:;" class="btn-link"><i class="fa fa-whatsapp"></i></a>
							</li>
						</ul>
					</div>
					<div class="topbar-right">
						<ul>
							<li><a href="javascript:;"><i class="fa fa-phone"></i> ۰۲۱-۶۶۲۶۶</a></li>
							{% if not request.user.is_authenticated %}
								<li><a href="{% url 'login' %}"> ورود </a></li>
								<li><a href="{% url 'register' %}"> ثبت نام </a></li>
							{% else %}
								<li><a href="/profile"> پروفایل </a></li>
								<li><a href="{% url 'logout' %}"> خروج </a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>



<div class="sticky-header navbar-expand-lg">
        <div class="menu-bar clearfix">
            <div class="container clearfix">


					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
					</div>



					<!-- Mobile Nav Button ==== -->
            <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
					  	<span></span>
					  	<span></span>
					  	<span></span>
				  	</button>



					<!-- Author Nav ==== -->
          <div class="secondary-menu">
              <div class="secondary-inner">
                  <ul>
										<li><a href="javascript:;" class="btn-link"> <i class="fa fa-dashboard"></i> پنل کاربری </a></li>

										<!-- Search Button ==== -->
										<li class="search-btn"><button id="quik-search-btn" type="button" class="btn-link"><i class="fa fa-search"></i></button></li>
									</ul>
					  	</div>
          </div>



					<!-- Search Box ==== -->
          <div class="nav-search-bar">
              <form action="#">
                  <input name="search" value="" type="text" class="form-control" placeholder="جستجو...">
                  <span><i class="ti-search"></i></span>
              </form>
             	<span id="search-remove"><i class="ti-close"></i></span>
          </div>



					<!-- Navigation Menu ==== -->
          <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
						</div>
            <ul class="nav navbar-nav">

							<li><a href="javascript:;"> آساد <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu add-menu">
									<li class="add-menu-left">
										<h5 class="menu-adv-title"> آکادمی آساد </h5>
										<ul>
											<li><a href="{% url 'home' %}"> صفحه اصلی </a> </li>
											<li><a href="{% url 'about' %}"> در مورد ما </a> </li>
											<li><a href="{% url 'contact' %}"> تماس با ما </a> </li>
											<li><a href="javascript:;"> قوانین و مقررات </a> </li>
										</ul>
									</li>
									<li class="add-menu-right">
										<img src="{% static 'images/biglogo.png' %}" alt=""/>
									</li>
								</ul>





							<li class="add-mega-menu"><a href="javascript:;"> دوره ها <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="javascript:;"> مقاطع <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="about-1.html">About 1</a></li>
											<li><a href="about-2.html">About 2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;"> دروس <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="about-1.html">About 1</a></li>
											<li><a href="about-2.html">About 2</a></li>
										</ul>
									</li>
									<li><a href="javascript:;"> رشته ها <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="about-1.html">About 1</a></li>
											<li><a href="about-2.html">About 2</a></li>
										</ul>
									</li>
									<li><a href="courses.html"> همه دوره ها </a></li>
									<li><a href="courses.html"> رویداد ها </a></li>
								</ul>
							 </li>



							<li><a href="javascript:;"> وبلاگ <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="{% url 'blog' %}"> مشاهده وبلاگ </a></li>
									<li><a href="javascript:;"> دسته بندی <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="about-1.html">About 1</a></li>
											<li><a href="about-2.html">About 2</a></li>
										</ul>
									</li>
								</ul>
							</li>



							<li><a href="javascript:;"> اساتید و مشاوران <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="courses.html"> انتخواب مشاور </a></li>
									<li><a href="courses-details.html"> مشاوران برتر </a></li>
									<li><a href="profile.html"> معرفی اساتید </a></li>
									<li><a href="profile.html"> همکاری با ما </a></li>
								</ul>
					 		</li>


						</ul>
						<div class="nav-social-link">
							<a href="javascript:;"><i class="fa fa-telegram"></i></a>
							<a href="javascript:;"><i class="fa fa-instagram"></i></a>
							<a href="javascript:;"><i class="fa fa-whatsapp"></i></a>
						</div>

	      </div>
				<!-- Navigation Menu END ==== -->



            </div>
        </div>
    </div>
</header>
<!-- Header Top END ==== -->




    {% block content %}{% endblock %}




<!-- Footer ==== -->
  <footer>
    <div class="footer-top">

        <div class="pt-exebar">
          <div class="container">
            <div class="d-flex align-items-stretch">
              <div class="pt-logo mr-auto">
                <a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""/></a>
              </div>
              <div class="pt-social-link">
                <ul class="list-inline m-a0">
									<li><a href="javascript:;" class="btn-link"><i class="fa fa-telegram"></i></a></li>
									<li><a href="javascript:;" class="btn-link"><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:;" class="btn-link"><i class="fa fa-whatsapp"></i></a></li>
									<li><a href="javascript:;" class="btn-link"><i class="fa fa-youtube"></i></a></li>
									<li><a href="javascript:;" class="btn-link"><i class="fa fa-phone"></i></a></li>
                </ul>
              </div>
              <div class="pt-btn-join">
                <a href="#" class="btn "> عضویت </a>
              </div>
            </div>
          </div>
        </div>


<div class="container" dir="rtl" align="right">
    <div class="row">

        <div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
            <div class="widget">
                <h5 class="footer-title"> پلتفرم آموزشی و مشاوره آنلاین آســـاد </h5>
                <p class="text-capitalize m-b20">
									  هدف ما در دسترس قرار دادن آموزش با کیفیت بالا برای همه‌ی فارسي‌زبانان است. ما اعتقاد داریم که هیچ کس نباید به خاطر هیچ چیز از لذت یاد گرفتن محروم شود. نباید سن و سال، مکان، موقعیت یا امکانات مالی فرد، وی را از یادگیری و موفقیت باز دارد.
								</p>
            </div>
          </div>

            <div class="col-12 col-lg-5 col-md-7 col-sm-12">
              <div class="row">
                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                  <div class="widget footer_widget">
                    <h5 class="footer-title">آســـاد</h5>
                    <ul>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about-1.html">About</a></li>
                      <li><a href="faq-1.html">FAQs</a></li>
                      <li><a href="contact-1.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
								<div class="col-4 col-lg-4 col-md-4 col-sm-4">
									<div class="widget footer_widget">
										<h5 class="footer-title">دوره ها</h5>
										<ul>
											<li><a href="courses.html">Courses</a></li>
											<li><a href="courses-details.html">Details</a></li>
											<li><a href="membership.html">Membership</a></li>
											<li><a href="profile.html">Profile</a></li>
										</ul>
									</div>
								</div>
                <div class="col-4 col-lg-4 col-md-4 col-sm-4">
                  <div class="widget footer_widget">
                    <h5 class="footer-title"> پیوند ها </h5>
                    <ul>
                      <li><a href="http://educhamp.themetrades.com/admin/index.html">Dashboard</a></li>
                      <li><a href="blog-classic-grid.html">Blog</a></li>
                      <li><a href="portfolio.html">Portfolio</a></li>
                      <li><a href="event.html">Event</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>



        <div class="col-12 col-lg-3 col-md-5 col-sm-12 footer-col-4">
          <div class="widget widget_gallery gallery-grid-3">
                <ul class="magnific-image">
                  <li><a href="{% static 'images/footericon/1.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/1.png' %}" alt=""></a></li>
                  <li><a href="{% static 'images/footericon/2.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/2.png' %}" alt=""></a></li>
                  <li><a href="{% static 'images/footericon/3.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/3.png' %}" alt=""></a></li>
                  <li><a href="{% static 'images/footericon/4.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/4.png' %}" alt=""></a></li>
                  <li><a href="{% static 'images/footericon/5.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/5.png' %}" alt=""></a></li>
                  <li><a href="{% static 'images/footericon/6.png' %}" class="magnific-anchor"><img src="{% static 'images/footericon/6.png' %}" alt=""></a></li>
                </ul>
          </div>
        </div>

	    </div>
	</div>

</div>
          <div class="footer-bottom">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <a target="_blank" href="https://www.templateshub.net"> © 2021 - Acad   تمام حقوق محفوظ است </a></div>
                  </div>
              </div>
          </div>
</footer>
      <!-- Footer END ==== -->
      <button class="back-to-top fa fa-chevron-up" ></button>
    </div>






    <!-- External JavaScripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
    <script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
    <script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
    <script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
    <script src="{% static 'vendors/masonry/masonry.js' %}"></script>
    <script src="{% static 'vendors/masonry/filter.js' %}"></script>
    <script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <!-- Revolution JavaScripts Files -->
    <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>




    <script>
    jQuery(document).ready(function() {
    var ttrevapi;
    var tpj =jQuery;
    if(tpj("#rev_slider_486_1").revolution == undefined){
      revslider_showDoubleJqueryError("#rev_slider_486_1");
    }else{
      ttrevapi = tpj("#rev_slider_486_1").show().revolution({
        sliderType:"standard",
        jsFileLocation:"assets/vendors/revolution/js/",
        sliderLayout:"fullwidth",
        dottedOverlay:"none",
        delay:9000,
        navigation: {
          keyboardNavigation:"on",
          keyboard_direction: "horizontal",
          mouseScrollNavigation:"off",
          mouseScrollReverse:"default",
          onHoverStop:"on",
          touch:{
            touchenabled:"on",
            swipe_threshold: 75,
            swipe_min_touches: 1,
            swipe_direction: "horizontal",
            drag_block_vertical: false
          }
          ,
          arrows: {
            style: "uranus",
            enable: true,
            hide_onmobile: false,
            hide_onleave: false,
            tmp: '',
            left: {
              h_align: "left",
              v_align: "center",
              h_offset: 10,
              v_offset: 0
            },
            right: {
              h_align: "right",
              v_align: "center",
              h_offset: 10,
              v_offset: 0
            }
          },

        },
        viewPort: {
          enable:true,
          outof:"pause",
          visible_area:"80%",
          presize:false
        },
        responsiveLevels:[1240,1024,778,480],
        visibilityLevels:[1240,1024,778,480],
        gridwidth:[1240,1024,778,480],
        gridheight:[768,600,600,600],
        lazyType:"none",
        parallax: {
          type:"scroll",
          origo:"enterpoint",
          speed:400,
          levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
          type:"scroll",
        },
        shadow:0,
        spinner:"off",
        stopLoop:"off",
        stopAfterLoops:-1,
        stopAtSlide:-1,
        shuffle:"off",
        autoHeight:"off",
        hideThumbsOnMobile:"off",
        hideSliderAtLimit:0,
        hideCaptionAtLimit:0,
        hideAllCaptionAtLilmit:0,
        debugMode:false,
        fallbacks: {
          simplifyAll:"off",
          nextSlideOnWindowFocus:"off",
          disableFocusListener:false,
        }
      });
    }
    });
    </script>





    </body>

    </html>
