{% extends 'layouts/login_base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | ورود {% endblock title %}


{% block content %}




<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url({% static 'edu/images/background/bg2.jpg' %});">
			<a href="index.html"><img src="{% static 'edu/images/logo.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner" >
			<div class="account-container">
				<div class="heading-bx left" dir="rtl" align="right">
					<h2 class="title-head"> <span>وارد</span> حساب کاربری <span>خود شوید</span> </h2>
					<p> حساب کاربری ندارید؟ <a href="{% url 'register' %}"> ثبت نام کنید </a></p>
				</div>

				<form action="" method="post" class="contact-bx">
          {% csrf_token %}
					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group" dir="rtl" align="right">
									<label>نام کاربری</label>
									<input name="user" type="text" required class="form-control">
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group" dir="rtl" align="right">
									<label>رمزعبور</label>
									<input name="pass" type="password" class="form-control" required>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group form-forget">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
									<label class="custom-control-label" for="customControlAutosizing"> مرا به خاطر بسپار </label>
								</div>
								<a href="forget-password.html" class="ml-auto"> رمز عبور را فراموش کردید؟ </a>
							</div>
						</div>
						<div class="col-lg-12 m-b30" dir="rtl" align="center">
              <br>
							<button name="submit" type="submit" value="Submit" class="btn button-md">ورود</button>
						</div>

					</div>
				</form>

        <footer class="mini-footer dt-sl">
            <div class="container main-container">
                <div class="row">
                    <div class="col-12 mt-2 mb-3" dir="rtl" align="center">
                      <br><br>
                        <div class="footer-light-text">
                          استفاده از مطالب آساد فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به موسسه آساد می‌باشد.
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            Copyright © 2021 Acad-Academy
                        </div>
                    </div>
                </div>
            </div>
        </footer>

			</div>
		</div>
	</div>
</div>






{% endblock %}
