{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | پروفایل {% endblock title %}


{% block content %}






<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="page-banner ovbl-dark" style="background-image:url({% static 'images/banner/banner1.jpg' %});">
        <div class="container">
            <div class="page-banner-entry">
                <h1 class="text-white" dir="rtl"> حساب کاربری </h1> <h4 class="text-white"><br> {{ current_user }} </h4>
            </div>
        </div>
    </div>
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
      <div class="container">
        <ul class="list-inline">
          <li><a href="#"> آساد </a></li>
          <li> پروفایل </li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- inner page banner END -->
<div class="content-block">
        <!-- About Us -->
  <div class="section-area section-sp1">
            <div class="container">
       <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
          <div class="profile-bx text-center">
            <div class="user-profile-thumb">
              <img src="{{ profile.image.url }} " alt=""/>
            </div>
            <div class="profile-info">
              <ul class="cours-star">
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li class="active"><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
              </ul>
              <h4 dir="rtl"> {{ current_user.first_name }} {{ current_user.last_name }}  </h4>
              <span> {{ profile.phone }} </span>
              <p dir="rtl" align="right" style="padding:20px;"> {{ profile.bio }} </p>
            </div>
            <div class="profile-social">
              <ul class="list-inline m-a0">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="profile-tabnav">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#courses"><i class="ti-book"></i> دوره ها </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#quiz-results"><i class="ti-bookmark-alt"></i> نتایج آزمون </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#edit-profile"><i class="ti-pencil-alt"></i>  ویرایش پروفایل </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#change-password"><i class="ti-lock"></i> تغییر رمز عبور </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
          <div class="profile-content-bx">
            <div class="tab-content">
              <div class="tab-pane active" id="courses">
                <div class="profile-head">
                  <h3> دوره های من </h3>
                  <div class="feature-filters style1 ml-auto">
                    <ul class="filters" data-toggle="buttons">
                      <li data-filter="" class="btn active">
                        <input type="radio">
                        <a href="#"><span> همه </span></a>
                      </li>
                      <li data-filter="publish" class="btn">
                        <input type="radio">
                        <a href="#"><span> منتشر شده </span></a>
                      </li>
                      <li data-filter="pending" class="btn">
                        <input type="radio">
                        <a href="#"><span> شروع نشده </span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="courses-filter">
                  <div class="clearfix">
                    <ul id="masonry" class="ttr-gallery-listing magnific-image row">
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                          <div class="cours-bx">
                            <div class="action-box">
                              <img src="{% static 'images/courses/pic1.jpg' %}" alt="">
                              <a href="#" class="btn"> مشاهده و خرید </a>
                            </div>
                            <div class="info-bx text-center">
                              <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                              <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                            </div>
                            <div class="cours-more-info">
                              <div class="review">
                                <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                                <ul class="cours-star">
                                  <li class="active"><i class="fa fa-star"></i></li>
                                  <li class="active"><i class="fa fa-star"></i></li>
                                  <li class="active"><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                </ul>
                              </div>
                              <div class="price" dir="rtl">
                                <del> 190000 <small>تومان</small> </del>
                                <h6> 120000 <small>تومان</small> </h6>
                              </div>
                            </div>
                          </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic2.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic3.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic4.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic5.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 pending">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic6.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic7.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 book">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic8.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="action-card col-xl-4 col-lg-6 col-md-12 col-sm-6 publish">
                        <div class="cours-bx">
                          <div class="action-box">
                            <img src="{% static 'images/courses/pic9.jpg' %}" alt="">
                            <a href="#" class="btn"> مشاهده و خرید </a>
                          </div>
                          <div class="info-bx text-center">
                            <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
                            <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
                          </div>
                          <div class="cours-more-info">
                            <div class="review">
                              <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                              <ul class="cours-star">
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li class="active"><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                              </ul>
                            </div>
                            <div class="price" dir="rtl">
                              <del> 190000 <small>تومان</small> </del>
                              <h6> 120000 <small>تومان</small> </h6>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="quiz-results">
                <div class="profile-head">
                  <h3>Quiz Results</h3>
                </div>
                <div class="courses-filter">
                  <div class="row">
                    <div class="col-md-6 col-lg-6">
                      <ul class="course-features">
                        <li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">8</span></li>
                        <li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
                        <li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>
                        <li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>
                        <li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
                        <li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>
                        <li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>
                      </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                      <ul class="course-features">
                        <li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">8</span></li>
                        <li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>
                        <li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>
                        <li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>
                        <li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>
                        <li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>
                        <li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="edit-profile" dir="rtl" align="right">
                <div class="profile-head">
                  <h3> ویرایش پروفایل </h3>
                </div>
                <form action="" class="edit-profile" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="">
                    <div class="form-group row">
                      <div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
                        <h5> اطلاعات حساب کاربری خود را ویرایش کنید </h5>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">نام کاربری</label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="user" type="text" value="{{ current_user.username }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> نام </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="firstname" type="text" value="{{ current_user.first_name }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> نام خانوادگی</label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="lastname" type="text" value="{{ current_user.last_name }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> کد ملی </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="code" type="text" value="{{ profile.national_code }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> شماره تماس </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="phone" type="text" value="{{ profile.phone }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> ایمیل </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="email" type="email" value="{{ current_user.email }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> بیوگرافی </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="bio" type="text" value="{{ profile.bio }}">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label"> تصویر </label>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                        <input class="form-control" name="photo" type="file" value="{{ profile.image }}">
                      </div>
                    </div>
                  </div>

                  <div class="">
                    <div class="">
                      <div class="row">
                        <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                        </div>
                        <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                          <br>
                          <button type="submit" class="btn"> ذخیره تغییرات </button>
                          <button type="reset" class="btn-secondry">لغو</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="change-password" dir="rtl" align="right">
                <div class="profile-head">
                  <h3> تغییر رمز عبور </h3>
                </div>

                <form action="/profile/password" class="edit-profile" method="post">
                   {% csrf_token %}


                   <div class="form-group row">
                     <div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
                       {% if messages %}
                           {% for message in messages %}
                               <div class="form-row-title">
                                   <p style="color: #ff0000;">{{ message|safe }}</p>
                               </div>
                           {% endfor %}
                       {% endif %}
                     </div>
                   </div>

                    <div class="form-group row">
                      <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label"> رمز عبور فعلی </label>
                      <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                        <input type="password" class="input-ui pr-2" name="old_password" required placeholder="رمز عبور خود را وارد نمایید" id="id_old_password">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label"> رمز عبور جدید </label>
                      <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                        <input type="password" class="input-ui pr-2" name="new_password1" id="id_new_password1" required placeholder="رمز عبور خود را وارد نمایید">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label"> تکرار رمز عبور جدید </label>
                      <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                        <input type="password" class="input-ui pr-2" name="new_password2" id="id_new_password2" required placeholder="رمز عبور خود را وارد نمایید">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-4 col-md-4 col-lg-3">
                      </div>
                      <div class="col-12 col-sm-8 col-md-8 col-lg-7">
                        <button type="submit" class="btn"> ذخیره تغییرات </button>
                        <button type="reset" class="btn-secondry">لغو</button>
                      </div>
                    </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div>
<!-- contact area END -->
</div>
<!-- Content END-->









{% endblock %}
