{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | پلتفرم آموزشی و مشاوره آنلاین {% endblock title %}


{% block content %}





<!-- Content -->
<div class="page-content bg-white">
    <!-- Main Slider -->
    <div class="rev-slider">
  <div id="rev_slider_486_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
    <div id="rev_slider_486_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
      <ul>	<!-- SLIDE  -->
        <li data-index="rs-100"
        data-transition="parallaxvertical"
        data-slotamount="default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-easein="default"
        data-easeout="default"
        data-masterspeed="default"
        data-thumb="error-404.html"
        data-rotate="0"
        data-fstransition="fade"
        data-fsmasterspeed="1500"
        data-fsslotamount="7"
        data-saveperformance="off"
        data-title="A STUDY ON HAPPINESS"
        data-param1="" data-param2=""
        data-param3="" data-param4=""
        data-param5="" data-param6=""
        data-param7="" data-param8=""
        data-param9="" data-param10=""
        data-description="Science says that Women are generally happier">
          <!-- MAIN IMAGE -->
          <img src="{% static 'edu/images/slider/slide1.jpg' %}" alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina />

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper "
            id="slide-100-layer-1"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-width="full"
            data-height="full"
            data-whitespace="nowrap"
            data-type="shape"
            data-basealign="slide"
            data-responsive_offset="off"
            data-responsive="off"
            data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1,"to":"opacity:0;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
          <!-- LAYER NR. 2 -->
          <div class="tp-caption Newspaper-Title   tp-resizeme"
            id="slide-100-layer-2"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['top','top','top','top']"
            data-voffset="['250','250','250','240']"
            data-fontsize="['50','50','50','30']"
            data-lineheight="['55','55','55','35']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;">
               آســـاد
          </div>


          <!-- LAYER NR. 3 -->
          <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
            id="slide-100-layer-4"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['top','top','top','top']"
            data-voffset="['320','320','320','290']"
            data-width="['800','800','700','420']"
            data-height="['100','100','100','120']"
            data-whitespace="unset"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
                 در دسترس قرار دادن آموزش با کیفیت بالا برای همه‌ی فارسي‌زبانان است. ما اعتقاد داریم که هیچ کس نباید به خاطر هیچ چیز از لذت یاد گرفتن محروم شود. نباید سن و سال، مکان، موقعیت یا امکانات مالی فرد، وی را از یادگیری و موفقیت باز دارد.
          </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption Newspaper-Button rev-btn "
            id="slide-100-layer-5"
            data-x="['center','center','center','center']"
            data-hoffset="['90','80','75','90']"
            data-y="['top','top','top','top']"
            data-voffset="['400','400','400','420']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,35,35,15]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,35,35,15]"
            style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">  پنل کاربری   </div>
          <div class="tp-caption Newspaper-Button rev-btn"
            id="slide-100-layer-6"
            data-x="['center','center','center','center']"
            data-hoffset="['-90','-80','-75','-90']"
            data-y="['top','top','top','top']"
            data-voffset="['400','400','400','420']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,35,35,15]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,35,35,15]"
            style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;"> مشاوران </div>
        </li>
        <li data-index="rs-200"
        data-transition="parallaxvertical"
        data-slotamount="default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-easein="default"
        data-easeout="default"
        data-masterspeed="default"
        data-thumb="assets/images/slider/slide1.jpg"
        data-rotate="0"
        data-fstransition="fade"
        data-fsmasterspeed="1500"
        data-fsslotamount="7"
        data-saveperformance="off"
        data-title="A STUDY ON HAPPINESS"
        data-param1="" data-param2=""
        data-param3="" data-param4=""
        data-param5="" data-param6=""
        data-param7="" data-param8=""
        data-param9="" data-param10=""
        data-description="Science says that Women are generally happier">
          <!-- MAIN IMAGE -->
          <img src="{% static 'edu/images/slider/slide2.jpg' %}" alt=""
            data-bgposition="center center"
            data-bgfit="cover"
            data-bgrepeat="no-repeat"
            data-bgparallax="10"
            class="rev-slidebg"
            data-no-retina />

          <!-- LAYER NR. 1 -->
          <div class="tp-caption tp-shape tp-shapewrapper "
            id="slide-200-layer-1"
            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
            data-width="full"
            data-height="full"
            data-whitespace="nowrap"
            data-type="shape"
            data-basealign="slide"
            data-responsive_offset="off"
            data-responsive="off"
            data-frames='[{"from":"opacity:0;","speed":1,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:1;","ease":"Power4.easeOut"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 5;background-color:rgba(2, 0, 11, 0.80);border-color:rgba(0, 0, 0, 0);border-width:0px;">
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption Newspaper-Title   tp-resizeme"
            id="slide-200-layer-2"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['top','top','top','top']"
            data-voffset="['250','250','250','240']"
            data-fontsize="['50','50','50','30']"
            data-lineheight="['55','55','55','35']"
            data-width="full"
            data-height="none"
            data-whitespace="normal"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 6; font-family:rubik; font-weight:700; text-align:center; white-space: normal;text-transform:uppercase;">
                پلتفرم آموزشی و مشاوره آنلاین آســـاد
          </div>



          <!-- LAYER NR. 3 -->
          <div class="tp-caption Newspaper-Subtitle   tp-resizeme"
            id="slide-200-layer-4"
            data-x="['center','center','center','center']"
            data-hoffset="['0','0','0','0']"
            data-y="['top','top','top','top']"
            data-voffset="['320','320','320','290']"
            data-width="['800','800','700','420']"
            data-height="['100','100','100','120']"
            data-whitespace="unset"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
            style="z-index: 7; text-transform:capitalize; white-space: unset; color:#fff; font-family:rubik; font-size:18px; line-height:28px; font-weight:400;">
             هدف ما در دسترس قرار دادن آموزش با کیفیت بالا برای همه‌ی فارسي‌زبانان است. ما اعتقاد داریم که هیچ کس نباید به خاطر هیچ چیز از لذت یاد گرفتن محروم شود. نباید سن و سال، مکان، موقعیت یا امکانات مالی فرد، وی را از یادگیری و موفقیت باز دارد.
          </div>
          <!-- LAYER NR. 4 -->
          <div class="tp-caption Newspaper-Button rev-btn "
            id="slide-200-layer-5"
            data-x="['center','center','center','center']"
            data-hoffset="['90','80','75','90']"
            data-y="['top','top','top','top']"
            data-voffset="['400','400','400','420']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,35,35,15]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,35,35,15]"
            style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; background-color:var(--primary) !important; border:0; border-radius:30px; margin-right:5px;">  پنل کاربری  </div>
          <div class="tp-caption Newspaper-Button rev-btn"
            id="slide-200-layer-6"
            data-x="['center','center','center','center']"
            data-hoffset="['-90','-80','-75','-90']"
            data-y="['top','top','top','top']"
            data-voffset="['400','400','400','420']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="button"
            data-responsive_offset="on"
            data-responsive="off"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[12,12,12,12]"
            data-paddingright="[30,35,35,15]"
            data-paddingbottom="[12,12,12,12]"
            data-paddingleft="[30,35,35,15]"
            style="z-index: 8; white-space: nowrap; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; border-radius:30px;"> دوره ها </div>
        </li>
        <!-- SLIDE  -->
      </ul>
    </div><!-- END REVOLUTION SLIDER -->
  </div>
</div>
    <!-- Main Slider -->
<div class="content-block">

  <!-- Popular Courses -->
  <div class="section-area section-sp2 popular-courses-bx">
            <div class="container">
      <div class="row">
        <div class="col-md-12 heading-bx" dir="rtl" align="right">
          <h2 class="title-head"> <span>دوره های</span> پرطرفدار </h2>
          <p> دوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفداردوره های پرطرفدار</p>
        </div>
      </div>
      <div class="row">
      <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
        <div class="item">
          <div class="cours-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/courses/pic1.jpg' %}" alt="">
              <a href="#" class="btn"> مشاهده و خرید </a>
            </div>
            <div class="info-bx text-center">
              <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
              <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
            </div>
            <div class="cours-more-info">
              <div class="review">
                <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                <ul class="cours-star">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="price" dir="rtl">
                <del> 190000 <small>تومان</small> </del>
                <h6> 120000 <small>تومان</small> </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="cours-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/courses/pic2.jpg' %}" alt="">
              <a href="#" class="btn"> مشاهده و خرید </a>
            </div>
            <div class="info-bx text-center">
              <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
              <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
            </div>
            <div class="cours-more-info">
              <div class="review">
                <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                <ul class="cours-star">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="price" dir="rtl">
                <del> 190000 <small>تومان</small> </del>
                <h6> 120000 <small>تومان</small> </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="cours-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/courses/pic3.jpg' %}" alt="">
              <a href="#" class="btn"> مشاهده و خرید </a>
            </div>
            <div class="info-bx text-center">
              <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
              <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
            </div>
            <div class="cours-more-info">
              <div class="review">
                <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                <ul class="cours-star">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="price" dir="rtl">
                <del> 190000 <small>تومان</small> </del>
                <h6> 120000 <small>تومان</small> </h6>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="cours-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/courses/pic4.jpg' %}" alt="">
              <a href="#" class="btn"> مشاهده و خرید </a>
            </div>
            <div class="info-bx text-center">
              <h5><a href="#"> دوره پیشرفته ریاضی گسسته </a></h5>
              <a href="#">  استاد حیدری  <i class="fa fa-user"></i></a>
            </div>
            <div class="cours-more-info">
              <div class="review">
                <span> <small> ریاضیات ، کنکور ، دسته۲</small> </span>
                <ul class="cours-star">
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li class="active"><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
              <div class="price" dir="rtl">
                <del> 190000 <small>تومان</small> </del>
                <h6> 120000 <small>تومان</small> </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="text-center">
      <br>
      <a href="#" class="btn"> مشاهده همه دوره ها </a>
    </div>
  </div>
  <!-- Popular Courses END -->

  <!-- Form -->
  <div class="section-area section-sp1 ovpr-dark bg-fix online-cours" style="background-image:url({% static 'edu/images/background/bg1.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-white" dir="rtl">
          <h2> دوره ها و آموزش های آنلاین </h2>
          <h5> پلتفرم آموزش آنلاین آساد به شما امکان یادگیری بدون حد مرز و پرورش استعداد و نقاط قوت فردی میدهد</h5>
          <form class="cours-search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="امروز میخوای چی یاد بگیری؟">
              <div class="input-group-append">
                <button class="btn" type="submit">جستجو</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="mw800 m-auto">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-user"></i><span class="counter">5</span>M</h3>
              </div>
              <span class="cours-search-text"> کاربران و دانش آموزان </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-book"></i><span class="counter">30</span>K</h3>
              </div>
              <span class="cours-search-text"> دوره و آموزش </span>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="cours-search-bx m-b30">
              <div class="icon-box">
                <h3><i class="ti-user"></i><span class="counter">20</span>K</h3>
              </div>
              <span class="cours-search-text"> مشاوران و مدرسان </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Form END -->
  <div class="section-area section-sp2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center heading-bx">
          <h2 class="title-head m-b0"> رویدادهای <span>آتی</span></h2>
          <p class="m-b0"> رویدادهای آموزشی پیش رو برای پرورش و توسعه پایدار </p>
        </div>
      </div>
      <div class="row">
      <div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/event/pic4.jpg' %}" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">15</div>
                  <div class="event-month">اسفند</div>
                </div>
              </div>
              <div class="event-info" dir="rtl" align="right">
                <h4 class="event-title"><a href="#"> کارگاه آنلاین اپلای و مهاجرت تحصیلی </a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-calendar"></i> ۱۵ آذر ۱۴۰۰ </a></li>
                  <li><a href="#"><i class="fa fa-clock-o"></i>  ۱۹:۰۰ </a></li>
                </ul>
                <p> احتمالاً، شما نیز مثل بیشتر فارغ‌التحصیلان دوره کارشناسی و کارشناسی ارشد به فکر تحصیل در دانشگاه‌های خارجی افتاده‌اید و علاقه‌مندید در این مورد بیشتر بدانید. در این دوره، یعنی مرحله آشنایی و کسب اطلاعات اولیه... </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/event/pic3.jpg' %}" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">15</div>
                  <div class="event-month">اسفند</div>
                </div>
              </div>
              <div class="event-info" dir="rtl" align="right">
                <h4 class="event-title"><a href="#"> کارگاه آنلاین اپلای و مهاجرت تحصیلی </a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-calendar"></i> ۱۵ آذر ۱۴۰۰ </a></li>
                  <li><a href="#"><i class="fa fa-clock-o"></i>  ۱۹:۰۰ </a></li>
                </ul>
                <p> احتمالاً، شما نیز مثل بیشتر فارغ‌التحصیلان دوره کارشناسی و کارشناسی ارشد به فکر تحصیل در دانشگاه‌های خارجی افتاده‌اید و علاقه‌مندید در این مورد بیشتر بدانید. در این دوره، یعنی مرحله آشنایی و کسب اطلاعات اولیه... </p>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="event-bx">
            <div class="action-box">
              <img src="{% static 'edu/images/event/pic2.jpg' %}" alt="">
            </div>
            <div class="info-bx d-flex">
              <div>
                <div class="event-time">
                  <div class="event-date">15</div>
                  <div class="event-month">اسفند</div>
                </div>
              </div>
              <div class="event-info" dir="rtl" align="right">
                <h4 class="event-title"><a href="#"> کارگاه آنلاین اپلای و مهاجرت تحصیلی </a></h4>
                <ul class="media-post">
                  <li><a href="#"><i class="fa fa-calendar"></i> ۱۵ آذر ۱۴۰۰ </a></li>
                  <li><a href="#"><i class="fa fa-clock-o"></i>  ۱۹:۰۰ </a></li>
                </ul>
                <p> احتمالاً، شما نیز مثل بیشتر فارغ‌التحصیلان دوره کارشناسی و کارشناسی ارشد به فکر تحصیل در دانشگاه‌های خارجی افتاده‌اید و علاقه‌مندید در این مورد بیشتر بدانید. در این دوره، یعنی مرحله آشنایی و کسب اطلاعات اولیه... </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="text-center">
        <a href="#" class="btn"> مشاهده همه رویدادها </a>
      </div>
    </div>
  </div>

  <!-- Testimonials -->
  <div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url({% static 'edu/images/background/bg1.jpg' %});">
            <div class="container">
      <div class="row">
        <div class="col-md-12 text-white heading-bx" dir="rtl" align="center">
          <h2 class="title-head text-uppercase"> مشاوران برتر <span> آساد </span></h2>
          <p>  احتمالاً، شما نیز مثل بیشتر فارغ‌التحصیلان دوره کارشناسی و کارش  خارجی افتاده‌ا نایی و کسب اطلاعات اولیه </p>
          </div>
      </div>
      <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
        <div class="item">
          <div class="testimonial-bx">
            <div class="testimonial-thumb">
              <img src="{% static 'edu/images/testimonials/pic1.jpg' %}" alt="">
            </div>
            <div align="right">
               <div class="row">
                 <div class="col-md-6">
                   <ul class="cours-star">
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                   </ul>
                 </div>
                 <div class="col-md-6">
                   <h4 class="name"> نیما درستکار </h4>
                 </div>
              </div>
            </div>
            <div class="testimonial-content" dir="rtl" align="right">
              <p> دکترای فلسفه از پژوهشگاه علوم انسانی و مطالعات فرهنگی تهران... </p>
            </div>
            <ul class="list-inline m-a0">
              <li><a href="#"><i class="fa fa-telegram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-bx">
            <div class="testimonial-thumb">
              <img src="{% static 'edu/images/testimonials/pic1.jpg' %}" alt="">
            </div>
            <div align="right">
               <div class="row">
                 <div class="col-md-6">
                   <ul class="cours-star">
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                   </ul>
                 </div>
                 <div class="col-md-6">
                   <h4 class="name"> نیما درستکار </h4>
                 </div>
              </div>
            </div>
            <div class="testimonial-content" dir="rtl" align="right">
              <p> دکترای فلسفه از پژوهشگاه علوم انسانی و مطالعات فرهنگی تهران... </p>
            </div>
            <ul class="list-inline m-a0">
              <li><a href="#"><i class="fa fa-telegram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="item">
          <div class="testimonial-bx">
            <div class="testimonial-thumb">
              <img src="{% static 'edu/images/testimonials/pic1.jpg' %}" alt="">
            </div>
            <div align="right">
               <div class="row">
                 <div class="col-md-6">
                   <ul class="cours-star">
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li class="active"><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                     <li><i class="fa fa-star"></i></li>
                   </ul>
                 </div>
                 <div class="col-md-6">
                   <h4 class="name"> نیما درستکار </h4>
                 </div>
              </div>
            </div>
            <div class="testimonial-content" dir="rtl" align="right">
              <p> دکترای فلسفه از پژوهشگاه علوم انسانی و مطالعات فرهنگی تهران... </p>
            </div>
            <ul class="list-inline m-a0">
              <li><a href="#"><i class="fa fa-telegram"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Testimonials END -->

  <!-- Recent News -->
  <div class="section-area section-sp2">
            <div class="container">
      <div class="row">
        <div class="col-md-12 heading-bx" dir="rtl" align="right">
          <h2 class="title-head"> <span> آخرین پست های وبلاگ </span></h2>
          <p> این یک واقعیت ثابت شده است که خواننده با محتوای خواندنی یک صفحه حواسش پرت می شود </p>
        </div>
      </div>
      <div class="recent-news-carousel owl-carousel owl-btn-1 col-12 p-lr0">
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="{% static 'edu/images/blog/latest-blog/pic1.jpg' %}" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>  ۱۵ آذر ۱۴۰۰  </a></li>
                <li><a href="#"><i class="fa fa-user"></i> نیما درستکار </a></li>
              </ul>
              <div dir="rtl" align="right">
                <h5 class="post-title"><a href="blog-details.html"> این یک واقعیت ثابت شده است که خواننده با محتوای  </a></h5>
                <p>این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای...</p>
              </div>
              <div class="post-extra">
                <a href="#" class="btn-link"> مشاهده پست </a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="{% static 'edu/images/blog/latest-blog/pic2.jpg' %}" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>  ۱۵ آذر ۱۴۰۰  </a></li>
                <li><a href="#"><i class="fa fa-user"></i> نیما درستکار </a></li>
              </ul>
              <div dir="rtl" align="right">
                <h5 class="post-title"><a href="blog-details.html"> این یک واقعیت ثابت شده است که خواننده با محتوای  </a></h5>
                <p>این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای...</p>
              </div>
              <div class="post-extra">
                <a href="#" class="btn-link"> مشاهده پست </a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="recent-news">
            <div class="action-box">
              <img src="{% static 'edu/images/blog/latest-blog/pic2.jpg' %}" alt="">
            </div>
            <div class="info-bx">
              <ul class="media-post">
                <li><a href="#"><i class="fa fa-calendar"></i>  ۱۵ آذر ۱۴۰۰  </a></li>
                <li><a href="#"><i class="fa fa-user"></i> نیما درستکار </a></li>
              </ul>
              <div dir="rtl" align="right">
                <h5 class="post-title"><a href="blog-details.html"> این یک واقعیت ثابت شده است که خواننده با محتوای  </a></h5>
                <p>این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای این یک واقعیت ثابت شده است که خواننده با محتوای...</p>
              </div>
              <div class="post-extra">
                <a href="#" class="btn-link"> مشاهده پست </a>
                <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Recent News End -->

    </div>
<!-- contact area END -->
</div>
<!-- Content END-->












{% endblock %}
